html {
    background-color: #dce9f8;
    height: 100vh;
}

.header {
    background-color: #00abe4;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 6px 6px -2px rgba(0, 0, 0, 0.2);;
}

#high {
    accent-color: red;
}

#medium {
    accent-color: yellow;
}

#low {
    accent-color: rgb(76, 241, 76);
}